button {
    font-size: 40px;
    padding: 10px;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
}

input[type="text"] {
    display: block;
    font-size: 40px;
    padding-top: 35px;
    padding-left: 10px;
    padding-bottom: 35px;
    height: 60px;
    width: 30%;
    margin: auto;
}

h4 {
    font-size: 50px;
    font-family: "Pixelated MS Sans Serif";
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 25px;
    background-color: darkblue;
    color: white;
    text-align: center;
}

h6 {
    font-size: 30px;
    font-family: "Pixelated MS Sans Serif";
    margin-bottom: 0px;
    margin-top: 10px;
    padding: 25px;
    color: black;
    text-align: center;
    font-weight: normal;
    margin-bottom: 0px;
}

.user_form {
    margin: auto;
    width: 80%;
}

table {
    font-family: "Pixelated MS Sans Serif";
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

th {
    font-size: 20px;
    border: 1px solid #ddd;
    background-color: darkblue;
    color: white;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

td {
    font-size: 15px;
    border: 1px solid #ddd;
    padding: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

.button_holder {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.back_button {
    font-size: 20px;
    padding: 10px;
    width: 40px;
    margin-right: auto;
    margin-left:  auto;
    margin-top: 0px;
}

.submit_button {
    display: block;
    font-size: 40px;
    padding: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 30%;
    margin: auto;
}

 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal_content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
  
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

.login_button {
    display: block;
    margin: 0px;
}